.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.subText {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
